<!-- public内 -->
<!-- end_users [#index, #show] / posts [#index, #show] -->

<div class="card mb-3" style="width: 17rem;">
  <%= image_tag end_user.get_profile_image(500, 500), class: "img-fluid" %>
  <div class="card-body">
    <h3 class="card-title">
      <%= link_to_unless_current "#{end_user.name}", end_user_path(end_user.id), class: "text-dark" %>
    </h3>
    <p class="card-text"><%= end_user.introduction %></p>
    <div class="row py-2">
      <div class="col text-center">
        <%= link_to end_user_relationships_path(end_user.id), class: "text-dark" do %>
          フォロー<br><%= end_user.followings.count %>
        <% end %>
      </div>
      <div class="col text-center">
        <%= link_to end_user_relationships_path(end_user.id, followers_id: end_user.id), class: "text-dark" do %>
          フォロワー<br><%= end_user.followers.count %>
        <% end %>
      </div>
    </div>
    <% if end_user_signed_in? %>
      <div style="text-align:center">
        <% if end_user == current_end_user %>
          <% if end_user.name != "guestuser" %>
            <%= link_to "ユーザ設定", end_users_information_edit_path, class: "setting-button" %>
          <% end %>
        <% else %>
          <% if current_end_user.following?(current_end_user, end_user) %>
            <%= link_to "フォロー済", end_user_relationships_path(end_user.id), method: :delete, class: "background_button" %>
          <% else %>
            <%= link_to "＋フォロー", end_user_relationships_path(end_user.id), method: :post, class: "simple-button" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div style="text-align:center">
  <h3>Bookmark</h3>
  <% if end_user.game_bookmarks.present? %>
    <div class="row row-cols-3">
      <% end_user.game_bookmarks.all.each do |game| %>
        <div class="col">
          <%= link_to community_path(game.community.id) do %>
            <%= image_tag game.community.get_image(300, 300), class: "img-fluid icon-img" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="col">
      ブックマーク登録したゲームは<br>ありません。
    </div>
  <% end %>
</div>
