<h1>ユーザ一覧</h1>

<%= render 'user', end_user: @end_user %>

<% @end_users.each do |end_user| %>
  <div>
    <%= link_to end_user_path(end_user.id) do %>
      <%= image_tag end_user.get_profile_image(100, 100) %>
      <%= end_user.name %>
    <% end %>
    <% if end_user != current_end_user %>
      <% if current_end_user.following?(current_end_user, end_user) %>
        <%= link_to "フォロー済", end_user_relationships_path(end_user.id), method: :delete, class: "btn btn-secondary" %>
      <% else %>
        <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%#= paginate @end_users %>