<!-- public内 -->
<!-- homes [#top] / communities [#show] / end_users [#show] / posts [#index] -->

<% posts.each do |post| %>
  <div class="col my-3">
    <div class="card mx-auto bg-dark text-white" style="max-width: 17rem;">
      <div class="card-opacity">
        <%= image_tag post.community.get_image(500, 500), class: "img-fluid card-img card-image" %>
      </div>
      <div class="card-img-overlay">
        <% if post.title.present? %>
          <h3 class="card-title"><%= link_to post.title, post_path(post.id), class: "text-white" %></h3>
        <% else %>
          <h5 class="card-title"><%= link_to "題名が設定されていません", post_path(post.id), class: "text-white" %></h5>
        <% end %>
        <p class="card-text">
          <small>
            <%= link_to_unless_current "#{post.community.name}", community_path(post.community.id), class: "text-white" %>
            <% post.post_tags.all.each do |post_tag| %>
              #<%= post_tag.tag.name %>
            <% end %>
          </small>
        </p>
        <div class="text-right">
          <small class="d-block">
            <%= link_to_unless_current "#{post.end_user.name}", end_user_path(post.end_user.id), class: "text-white" %>
          </small>
          <small class="text-white">
            <%= post.updated_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H:%M') %>
          </small>
        </div>
      </div>
    </div>
  </div>
<% end %>