<div class="container-fluid">
  <div class="col-7 mx-auto my-3">
    <h2 class="ttl_center4">投稿内容編集</h2>

    <%= link_to "投稿削除", post_path(@post.id), method: :delete, "data-confirm" => "投稿を削除してよろしいですか？", class: "btn btn-danger delete-button" %>

    <%= form_with model: @post, url: post_path(@post.id), method: :patch, local: true do |f| %>
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <div class="form-group">
            <%= f.label "Community_name" %><br>
            <%= f.select :community_id, options_from_collection_for_select(Community.all, :id, :name, { :selected => @post.community_id.to_i }), style: "width:100%" %>
          </div>
          <div class="form-group">
            <%= f.label "Tags" %>
            <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |t| %><br>
              <%= t.check_box %>
              <%= t.label %>
            <% end %>
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <%= f.label :post_image %>
            <%= f.file_field :post_image, accept: "image/*" %>
          </div>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, size: "50" %>
          </div>
          <div class="form-group">
            <%= f.label :text %>
            <%= f.text_area :text, style: "width:100%", rows: "4" %>
          </div>
        </div>
      </div>

      <div style="text-align:center">
        <% if @post.is_published == true %>
          <%= f.submit "更新", :name => 'publish', class: "simple-button" %>
          <%= f.submit "下書きにする", :name => 'draft', class: "draft-button" %>
        <% else %>
          <%= f.submit "公開する", :name => 'publish', class: "simple-button" %>
          <%= f.submit "下書き更新", :name => 'draft', class: "draft-button" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
