<div class="container-fluid">
  <div class="col-9 mx-auto my-3">
    <h2 class="ttl_center4">投稿新規作成</h2>
    <%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <div class="form-group">
            <%= f.label "Community_name" %><br>
            <% if @community.present? %>
              <%= f.select :community_id, options_from_collection_for_select(Community.all, :id, :name, { :selected => @community.id }), style: "width:100%" %>
            <% else %>
              <%= f.select :community_id, options_from_collection_for_select(Community.all, :id, :name), include_blank: "ゲームタイトルを選択してください", style: "width:100%" %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label "Tags" %>
            <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |t| %><br>
              <%= t.check_box %>
              <%= t.label %>
            <% end %>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <%= f.label :post_image %>
            <%= f.file_field :post_image, accept: "image/*" %>
          </div>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, placeholder: "投稿タイトルを入力してください。", size: "50" %>
          </div>
          <div class="form-group">
            <%= f.label :text %>
            <%= f.text_area :text, placeholder: "投稿内容を入力してください。", style: "width:100%", rows: "4" %>
          </div>
        </div>
      </div>
      <div style="text-align:center">
        <%= f.submit "投稿", :name => 'publish', class: "simple-button" %>
        <%= f.submit "下書き保存", :name => 'draft', class: "draft-button" %>
      </div>
    <% end %>
  </div>
</div>
