<h1>投稿詳細画面</h1>

<div>
  <%= image_tag @end_user.get_profile_image(100, 100) %><br>
  <%= @end_user.name %><br>
  <%= @end_user.introduction %><br>
  <% if @end_user == current_end_user %>
    <%= link_to "設定", end_users_information_edit_path, class: "btn btn-secondary" %>
    <%= link_to "フォロー一覧", relationships_path, class: "btn btn-secondary" %>
  <% else %>
    <%= link_to "フォローする", relationships_path(@end_user.id), method: :post, class: "btn btn-primary" %>
  <% end %>
</div>

<h3>play game</h3>

<% @game_bookmarks.each do |game| %>
  <%= link_to community_path(game.id) do %>
    <%= image_tag game.get_image %>
  <% end %>
<% end %>

<%= @post.title %>
<% if @post.end_user == current_end_user %>
  <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success" %>
  <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除してよろしいですか？" %>
<% end %><br>
<%= link_to community_path(@post.community.id) do %>
  <%= @post.community.name %>
<% end %>
<% @post.post_tags.all.each do |post_tag| %>
  <%= post_tag.tag.name %>
<% end %><br>
<%= @post.text %><br>

<div>
  <% if @post.liked_by?(current_end_user) %>
    <div>
      <%= link_to post_likes_path(@post.id), method: :delete do %>
        ❤<%= @post.likes.count %>いいね
      <% end %>
    </div>
  <% else %>
  <div>
    <%= link_to post_likes_path(@post.id), method: :post do %>
      ♡<%= @post.likes.count %>いいね
    <% end %>
  </div>
  <% end %>
</div>
<div>
  <%= @comments.count %>コメント
</div>

<div>
  <% @comments.each do |comment| %>
    <%= image_tag comment.end_user.get_profile_image(50, 50) %>
    <%= comment.end_user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <% if current_end_user == comment.end_user || current_end_user == comment.post.end_user %>
      <%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete, "data-confirm" => "本当に削除してよろしいですか？", class: "btn btn-danger" %>
    <% end %><br>
    <div>
      <%= comment.text %>
    </div>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment], url: post_comments_path(@post.id), method: :post do |f| %>
    <%= f.text_field :text, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信" %>
  <% end %>
</div>
