<div class="container-fluid mb-4">
  <div class="col-9 mx-auto">
    <div class="row justify-content-between">
      <div class="col-3">
        <%= render 'public/end_users/user', end_user: @end_user %>
      </div>
      <div class="col-5 post-box">
        <% if end_user_signed_in? && @post.end_user == current_end_user %>
          <div style="text-align:center">
            <% if @post.is_published == true %>
              <div class="text-success font-weight-bold">公開中</div>
            <% else %>
              <div class="text-secondary font-weight-bold">非公開（下書き）</div>
            <% end %>
          </div>
        <% end %>

        <div class="d-flex">
          <h2 class="col-10 ttl_line"><%= @post.title %></h2>
          <% if end_user_signed_in? && @post.end_user == current_end_user %>
            <div class="ml-auto flex-column">
              <div class="m-1">
                <%= link_to edit_post_path(@post.id), class: "text-success" do %>
                  <i class="fa-regular fa-pen-to-square mr-1" style="font-size: 20px;"></i>編集
                <% end %>
              </div>
              <div class="m-1">
                <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に投稿を削除してよろしいですか？", class: "text-danger" do %>
                  <i class="fa-solid fa-trash-can mr-1" style="font-size: 20px;"></i>削除
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <%= link_to community_path(@post.community.id), class: "ml-3 text-dark" do %>
          <%= @post.community.name %>
        <% end %>
        <small class="ml-2 text-muted">
          <% @post.post_tags.all.each do |post_tag| %>
            #<%= post_tag.tag.name %>
          <% end %>
        </small>
        <% if @post.post_image.attached? %>
          <%= image_tag @post.get_post_image(500, 500), class: "img-fluid post-large-img" %>
        <% end %>
        <p class="p-2"><%= @post.text %></p>
      </div>
      <div class="col-3">
        <div class="row d-flex justify-content-around p-3">
          <% if end_user_signed_in? %>
            <div>
              <% if @post.liked_by?(current_end_user) %>
                <%= link_to post_likes_path(@post.id), method: :delete, class: "text-dark" do %>
                  <i class="fa-solid fa-heart"></i>　<%= @post.likes.count %>
                <% end %>
              <% else %>
                <%= link_to post_likes_path(@post.id), method: :post, class: "text-dark" do %>
                  <i class="fa-regular fa-heart"></i>　<%= @post.likes.count %>
                <% end %>
              <% end %>
            </div>
          <% else %>
          <div>いいね　<%= @post.likes.count %></div>
          <% end %>
          <div>コメント　<%= @comments.count %></div>
        </div>
        <div class="mt-1">
          <% @comments.each do |comment| %>
            <div class="p-3">
              <%= image_tag comment.end_user.get_profile_image(200, 200), class: "img-fluid mini-img" %>
              <%= comment.end_user.name %>
              <small class="ml-2 text-muted">
                <%= comment.created_at.strftime('%Y/%m/%d') %>
              </small>
                <div class="p-2">
                  <%= comment.text %>
                </div>
              <% if end_user_signed_in? && (current_end_user == comment.end_user || current_end_user == comment.post.end_user) %>
                <%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete, "data-confirm" => "本当に削除してよろしいですか？", class: "text-center" %>
              <% end %><br>
            </div>
          <% end %>
        </div>
        <div>
          <% if end_user_signed_in? %>
            <%= form_with model: [@post, @comment], url: post_comments_path(@post.id), method: :post do |f| %>
              <div class="row comment-form mx-1">
                <%= f.text_field :text, rows: '5', placeholder: "Comment" %>
                <%= f.submit "送信", class: "comment-button" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

