<h1>新規投稿一覧</h1>
<% @new_posts.each do |new_post| %>
  <div class="card mb-3" style="max-width: 18rem;">
    <h2 class="card-header">
      <%= link_to admin_post_path(new_post.id) do %>
        <%= new_post.title %>
      <% end %>
    </h2>
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to admin_community_path(new_post.community.id) do %>
          <%= new_post.community.name %>
        <% end %>
        <% new_post.post_tags.all.each do |post_tag| %>
          <%= post_tag.tag.name %>
        <% end %>
      </h5>
      <p class="card-text">
        <%= new_post.text %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to admin_end_user_path(new_post.end_user.id) do %>
        <%= new_post.end_user.name %>
      <% end %>
    </div>
  </div>
  <%#= link_to post_path(new_post.id) do %>
    <%# if new_post.get_post_image.present? %>
      <%#= image_tag new_post.get_post_image(150, 150) %>
    <%# end %>
  <%# end %>
<% end %>

<table class="table" border="1" style="border-collapse: collapse">
  <thead>
    <th>投稿日時</th>
    <th>コミュニティ名</th>
    <th>ユーザ名</th>
    <th>投稿タイトル</th>
    <th>コメント数</th>
    <th>いいね数</th>
    <th>投稿ステータス</th>
  </thead>
  <tbody>
    <% @new_posts.each do |new_post| %>
      <tr>
        <td><%= new_post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <td><%= new_post.community.name %></td>
        <td><%= new_post.end_user.name %></td>
        <td><%= new_post.title %></td>
        <td><%= new_post.comments.count %></td>
        <td><%= new_post.likes.count %></td>
        <td>
          <% if new_post.is_deleted == false %>
            <%= link_to "削除", admin_post_path(new_post.id), method: :delete, "data-confirm" => "投稿を削除しますか？", class: "btn btn-danger" %>
          <% else %>
            削除済
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @new_posts %>
