<h1>ゲーム詳細画面</h1>

<div class="card" style="width: 18rem;">
  <%= image_tag @community.get_image(300, 300) %>
  <div class="card-body">
    <h5 class="card-title">
      <%= @community.name %>
    </h5>
    <p class="card-text">
      <%= @community.overview %>
    </p>
    <% if @community.game_bookmarked_by?(current_end_user) %>
      <div>
      <%= link_to community_game_bookmarks_path(@community), method: :delete, class: "btn btn-secondary" do %>
        ブックマーク済
      <% end %>
      </div>
    <% else %>
      <%= link_to community_game_bookmarks_path(@community), method: :post, class: "btn btn-primary" do %>
        ブックマーク
      <% end %>
    <% end %>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to "すべて", community_path(@community.id), class: "text-dark" %>
    </li>
    <% @tags.each do |tag| %>
      <li class="list-group-item">
        <%= link_to tag.name, community_path(@community.id, tag_id: tag.id), class: "text-dark" %>
      </li>
    <% end %>
  </ul>
</div>

<% @posts.each do |post| %>
  <div class="card mb-3" style="max-width: 18rem;">
    <h2 class="card-header">
      <%= link_to post_path(post.id) do %>
        <%= post.title %>
      <% end %>
    </h2>
    <div class="card-body">
      <h5 class="card-title">
        <%= post.community.name %>
        <% post.post_tags.all.each do |post_tag| %>
          <%= post_tag.tag.name %>
        <% end %>
      </h5>
      <p class="card-text">
        <%= post.text %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to end_user_path(post.end_user.id) do %>
        <%= post.end_user.name %>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to "投稿新規作成画面へ", new_post_path, class: "btn btn-primary" %>
