<div class="container-fluid mb-4">
  <div class="col-9 mx-auto">
    <div class="row justify-content-between">
      <div class="col-3">
        <div class="card mb-3" style="width: 17rem;">
          <%= image_tag @end_user.get_profile_image(500, 500), class: "img-fluid" %>
          <div class="card-body">
            <h3 class="card-title">
              <%= link_to admin_end_user_path(@end_user), class: "text-dark" do %>
                <%= @end_user.name %>
              <% end %>
            </h3>
            <p class="card-text"><%= @end_user.introduction %></p>
            <div style="text-align:center">
              <%= link_to "ユーザ設定", edit_admin_end_user_path(@end_user.id), class: "setting-button" %>
            </div>
          </div>
        </div>
        <div style="text-align:center">
          <h3>Bookmark</h3>
          <div class="row row-cols-3">
            <% @game_bookmarks.each do |game| %>
              <div class="col">
                <%= link_to admin_community_path(game.community.id) do %>
                  <%= image_tag game.community.get_image(300, 300), class: "img-fluid icon-img" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-5 post-box">
        <div class="d-flex">
          <h2 class="col-10 ttl_line"><%= @post.title %></h2>
          <div class="ml-auto">
            <% if @post.is_deleted == true %>
              <small class="text-danger font-weight-bold">削除されています</small>
            <% else %>
              <%= link_to admin_post_path(@post.id), method: :delete, "data-confirm" => "本当に投稿を削除してよろしいですか？", class: "text-danger" do %>
                <i class="fa-solid fa-trash-can" style="font-size: 25px;"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= link_to admin_community_path(@post.community.id), class: "ml-3 mb-3 text-dark" do %>
          <%= @post.community.name %>
        <% end %>
        <small class="ml-2 mb-3 text-muted">
          <% @post.post_tags.all.each do |post_tag| %>
            #<%= post_tag.tag.name %>
          <% end %>
        </small>
        <% if @post.post_image.attached? %>
          <%= image_tag @post.get_post_image(500, 500), class: "img-fluid post-large-img" %>
        <% end %>
        <p class="p-2"><%= @post.text %></p>
      </div>

      <div class="col-3">
        <div class="row d-flex justify-content-around p-3">
          <div>いいね　<%= @post.likes.count %></div>
          <div>コメント　<%= @comments.count %></div>
        </div>
        <div class="mt-1">
          <% @post.comments.all.each do |comment| %>
            <div class="p-3">
              <%= image_tag comment.end_user.get_profile_image(200, 200), class: "img-fluid mini-img" %>
              <%= comment.end_user.name %>
              <small class="ml-2 text-muted">
                <%= comment.created_at.strftime('%Y/%m/%d') %>
              </small>
              <% if comment.is_deleted == true %>
                <div class="p-2 text-muted">
                  <%= comment.text %>
                </div>
                <div class="text-center text-danger font-weight-bold">削除されています</div>
              <% else %>
                <div class="p-2">
                  <%= comment.text %>
                </div>
                <%= link_to "削除する", admin_post_comment_path(comment.post.id, comment.id), method: :delete, "data-confirm" => "本当に削除してよろしいですか？", class: "text-center" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
