<div class="container-fluid">
  <div class="col-9 mx-auto">
    <h2 class="ttl_center4">コミュニティ一覧</h2>

    <div class="new-button">
      <%= link_to new_admin_community_path, class: "simple-button", method: :get do %>
        <i class="fa-solid fa-plus"></i>新規登録
      <% end %>
    </div>

    <table class="table" border="1" style="border-collapse: collapse">
      <thead>
        <th width="100">id</th>
        <th>ゲームタイトル</th>
        <th width="200">投稿数</th>
        <th width="200">ブックマーク数</th>
        <th width="200">編集</th>
      </thead>
      <tbody>
        <% @communities.each do |community| %>
          <tr>
            <td><%= community.id %></td>
            <td>
              <%= link_to admin_community_path(community.id), class: "text-dark" do %>
                <%= community.name %>
              <% end %>
            </td>
            <td><%= community.posts.count %></td>
            <td><%= community.game_bookmarks.count %></td>
            <td><%= link_to "編集", edit_admin_community_path(community.id), class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @communities %>
  </div>
</div>

