<h1>コミュニティ一覧</h1>

<%= link_to "新規登録", new_admin_community_path, class: "btn btn-primary" %>

<table class="table" border="1" style="border-collapse: collapse">
  <thead>
    <th>id</th>
    <th>ゲームタイトル</th>
    <th>投稿数</th>
    <th>ブックマーク数</th>
  </thead>
  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= community.id %></td>
        <td>
          <%= link_to admin_community_path(community.id) do %>
            <%= community.name %>
          <% end %>
        </td>
        <td><%= community.posts.count %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>