<div class="container-fluid mb-4">
  <div class="col-9 mx-auto">
    <h2 class="ttl_center4"><%= @community.name %>に関する投稿</h2>
    <div class="row">
      <div class="col-3">
        <div class="card" style="width: 17rem;">
          <%= image_tag @community.get_image(500, 500), class: "img-fluid" %>
          <div class="card-body">
            <h3 class="card-title"><%= @community.name %></h3>
            <p class="card-text"><%= @community.overview %></p>
            <div style="text-align:center">
              <%= link_to "登録内容編集", edit_admin_community_path(@community.id), class: "simple-button" %>
            </div>
          </div>
        </div>
        <div class="card" style="width: 17rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= link_to "すべて", admin_community_path(@community.id), class: "text-dark" %>
            </li>
            <% @tags.each do |tag| %>
              <li class="list-group-item">
                <%= link_to tag.name, admin_community_path(@community.id, tag_id: tag.id), class: "text-dark" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col">
        <table class="table" border="1" style="border-collapse: collapse">
          <thead>
            <th>投稿タイトル</th>
            <th width="240">作成日時</th>
            <th width="110">コメント数</th>
            <th width="110">いいね数</th>
            <th width="150">投稿ステータス</th>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td>
                  <%= link_to admin_post_path(post.id), class: "text-dark" do %>
                    <h4><%= post.title %></h4>
                  <% end %>
                  <small>
                    <%= link_to admin_end_user_path(post.end_user.id), class: "text-muted" do %>
                    <%= post.end_user.name %>
                    <% end %>
                  </small>
                </td>
                <td align="center">
                  <%= link_to admin_post_path(post.id), class: "btntextchange" do %>
                    <span><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                    <span>投稿を見る</span>
                  <% end %>
                </td>
                <td align="center"><%= post.comments.count %></td>
                <td align="center"><%= post.likes.count %></td>
                <td align="center">
                  <% if post.is_deleted == true %> <!--削除されている-->
                    <div class="text-danger font-weight-bold">削除済</div>
                  <% else %>
                    <% if post.is_published == true %> <!--削除されていない かつ 公開中-->
                    <div class="text-success font-weight-bold">公開</div>
                    <% else %> <!--削除されていない かつ 非公開中-->
                    <div class="text-secondary font-weight-bold">非公開</div>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
