<div class="container px-5 px-sm-0">
  <% if @end_user.errors.any? %>
    <%= @end_user.errors.count %>件のエラーが発生しました
    <ul>
      <% @end_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row m-3 pt-3">
    <div class="col-3">
      <h4 class="bg text-center">新規会員登録</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <%= form_with model: @end_user, url: end_user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table style="border-collapse: collapse">
          <tbody>
            <tr align="left">
              <td height="50" width="200">ニックネーム</td>
              <td width="700">
                <%= f.text_field :name, placeholder: "なまえ" %>
              </td>
            </tr>
            <tr align="left">
              <td height="50">メールアドレス</td>
              <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
            </tr>
            <tr align="left">
              <td height="50">
                パスワード
                <% if @minimum_password_length %>
                  (<%= @minimum_password_length %>文字以上)
                <% end %>
              </td>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
            </tr>
            <tr align="left">
              <td height="50">パスワード(確認用)</td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </tr>
          </tbody>
        </table>
        <div class="row mt-3">
          <div class="col-3 offset-2" align="center">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row m-3 pt-3">
    <div class="col-3">
      <h4 class="bg text-center">既に登録済みの方</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <%= link_to end_user_session_path do %>
        こちら
      <% end %> からログインしてください。
    </div>
  </div>
</div>


<!--<h2>Sign up</h2>-->

<!--<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>-->
<!--  <%#= render "publics/shared/error_messages", resource: resource %>-->

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<!--    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %>-->
<!--    <%# if @minimum_password_length %>-->
<!--    <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br />-->
<!--    <%#= f.password_field :password, autocomplete: "new-password" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
<!--    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>-->
<!--  </div>-->

<!--  <div class="actions">-->
<!--    <%#= f.submit "Sign up" %>-->
<!--  </div>-->
<!--<%# end %>-->

<!--<%#= render "public/shared/links" %>-->
