<div class="container px-5 px-sm-0">
  <% if @end_user.errors.any? %>
    <%= @end_user.errors.count %>件のエラーが発生しました
    <ul>
      <% @end_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="container mx-auto mt-3 mb-5" style="width:400px; height:500px;">
    <div class="box-inner">
      <h4 class="text-center">新規会員登録</h4>
      <%= form_with model: @end_user, url: end_user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label "ニックネーム" %>
          <%= f.text_field :name, placeholder: "name", autofocus: true  %>
        </div>
        <div class="form-group">
          <%= f.label "メールアドレス" %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %>
        </div>
        <div class="form-group">
          <%= f.label "パスワード" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "new-password" %>
          <%# if @minimum_password_length %>
            <!--(<%#= @minimum_password_length %>文字以上)-->
          <%# end %>
        </div>
        <div class="form-group">
          <%= f.label "パスワード(確認用)" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "new-password" %>
        </div>
        <div class="pb-2">
          <%= f.submit "新規登録", class: "btn btn-success w-100 mb-3" %>
        </div>
      <% end %>
      <div class="box-newusr mb-4">
        <p><span>──────</span> 既にアカウントがありますか？ <span>──────</span></p>
        <%= link_to "ログイン", end_user_session_path %>
      </div>
    </div>
  </div>
</div>
