<h1>ユーザ編集画面</h1>

<%= form_with model: @end_user, url: admin_end_user_path(@end_user.id), method: :patch, local: true do |f| %>
  <label>プロフィール画像</label>
  <%= f.file_field :profile_image, accept: "image/*" %>
  <label>ニックネーム</label>
  <%= f.text_field :name, size: "40" %>
  <label>メールアドレス</label>
  <%= f.email_field :email, autocomplete: "email" %>
  <label>自己紹介文</label>
  <%= f.text_area :introduction, size: "40×60" %>
  <label>会員ステータス</label>
  <%= f.radio_button :is_active, "true" %>
  <%= f.label :is_active_true, "現役" %>
  <%= f.radio_button :is_active, "false" %>
  <%= f.label :is_active_false, "退会" %>

  <%= f.submit "更新", class: "btn btn-success" %>
<% end %>
