<h1>ユーザ詳細画面</h1>

<div>
  <%= image_tag @end_user.get_profile_image(100, 100) %><br>
  <%= @end_user.name %><br>
  <%= @end_user.introduction %><br>
  <%= link_to "設定", edit_admin_end_user_path(@end_user.id), class: "btn btn-secondary" %>
</div>

<h3>play game</h3>
<% @game_bookmarks.each do |game| %>
  <%= link_to admin_community_path(game.community.id) do %>
    <%= image_tag game.community.get_image(100, 100) %>
  <% end %>
<% end %>

<% @posts.each do |post| %>
  <div class="card mb-3" style="max-width: 18rem;">
    <h2 class="card-header">
      <%= link_to admin_post_path(post.id) do %>
        <%= post.title %>
      <% end %>
    </h2>
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to admin_community_path(post.community.id) do %>
          <%= post.community.name %>
        <% end %>
        <% post.post_tags.all.each do |post_tag| %>
          <%= post_tag.tag.name %>
        <% end %>
      </h5>
      <p class="card-text">
        <%= post.text %>
      </p>
    </div>
    <div class="card-footer">
      <%= post.end_user.name %>
    </div>
  </div>
<% end %>
