<div class="container-fluid">
  <div class="notification-box col-md-9 col-lg-7 col-xl-5 mx-auto mb-3">
    <h2 class="ttl_center4">通知一覧</h2>
    <hr>
    <% if @notifications.exists? %> <!-- 通知の有無を判定する -->
      <%= link_to "すべて既読にする", notifications_update_all_path, method: :patch, class: "notification-button btn btn-primary" %>
      <% @notifications.each do |notification| %>
        <div class="user-box my-3">
          <div class="d-flex">
            <%= link_to end_user_path(notification.end_user) do %>
              <%= image_tag notification.end_user.get_profile_image(300, 300), class: "img-fluid mini-img profile-img-circle" %>
            <% end %>
            <div class="flex-column mx-3">
              <div class="mr-auto">
                <%= link_to end_user_path(notification.end_user), class: "text-dark" do %>
                  <%= notification.end_user.name %>
                <% end %>
              </div>
              <div class="mr-auto">
                <span><%= "(#{time_ago_in_words(notification.created_at)}前)" %></span>
              </div>
            </div>
            <div class="mx-3 py-2">
              <%= notification_form(notification) %> <!-- helpers / public / notifications_helper.rb -->
            </div>
            <div class="ml-auto">
              <%= link_to "既読", notification_path(notification), method: :patch, class: "btn btn-primary" %>
            </div>
          </div>
          <div class="col-7 mx-auto text-muted">
            <% if notification.target_type == "comment" %>
              <small><%= notification.comment.text %></small>
            <% end %>
          </div>
          <hr>

        </div>
      <% end %>
    <% else %>
      <p>通知はありません。</p>
    <% end %>

  </div>
</div>
