<div class="box">
  <div class="box-inner">
    <h4 class="text-center">ログイン</h4>

    <%= form_with model: @end_user, url: end_user_session_path do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@exampl" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="login-action mb-4 pb-2">
        <%= f.submit "ログイン", class: "text-dark" %>
      </div>
    <% end %>

    <div class="mb-4 py-2">
      <%= link_to 'ゲストログイン（閲覧用）', end_users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block sign_in py-2", method: :post %>
    </div>
    <div class="box-newusr">
      <p><span>──────</span> まだ会員登録をしていない方 <span>──────</span></p>
      <%= link_to "アカウントを作成", new_end_user_registration_path %>
    </div>
  </div>
</div>
